<configuration>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.2" />
			</system.Web>
	-->
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<compilation targetFramework="4.5.2" debug="true">
			<assemblies/>
		</compilation>
    <customErrors mode="Off"></customErrors>
	</system.web>
</configuration>
